[Desktop Entry]
Type=Application
Name=Raddiola
Comment=Simple Radio
GenericName=GenericName
Exec=com.github.alexkdeveloper.raddiola %U
Icon=com.github.alexkdeveloper.raddiola
Terminal=false
Categories=GTK;Multimedia;
Keywords=Radio;Audio;Music;Player;
